---
layout: home
---
<section class="resume-section" id="about">
  <div class="resume-section-content">
    <h1 class="mb-0">
      Josef
      <span class="text-primary">Fruehwald</span>
    </h1>
    <div class="subheading mb-5">
      <a href="mailto:{{ site.email }}">{{ site.email }}</a> ·
      {{ site.office }}
    </div>
    <p class="lead mb-5">
      I am an Assistant Professor in the <a href="https://linguistics.as.uky.edu/" target="_blank">Linguistics
        Department</a> at the <a href="https://www.as.uky.edu/" target="_blank">University of Kentucky</a>. My interests
      within linguistics are sociolinguistics, variation and change, phonetics, and phonology.
    </p>
    <div class="social-icons">
      <a class="social-icon" href="https://github.com/{{ site.github_username }}" target="_blank"><i
          class="fab fa-github"></i></a>
      <a class="social-icon" href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i
          class="fab fa-twitter"></i></a>
      <a class="social-icon" href="https://instagram.com/{{ site.instagram_username }}" target="_blank"><i
          class="fab fa-instagram"></i></a>
    </div>
  </div>
</section>

<section class="resume-section" id="research">
  <div class="resume-section-content">
    <h2 class="mb-5">Research</h2>
    <div class="accordion accordion-flush" id="accordionResearch">
      <div class="accordion-item">
        <h3 class="accordion-header accordion-button collapsed" id="research-headingOne"
          style="cursor:pointer" data-bs-toggle="collapse" data-bs-target="#research-collapseOne" aria-expanded="false"
          aria-controls="research-collapseOne">
          <i class="fas fa-ellipsis-h mr-4 text-primary"></i>
          Papers
        </h3>
        <div id="research-collapseOne" class="accordion-collapse collapse" aria-labelledby="research-headingOne"
          data-bs-parent="#accordionResearch">
          <div class="accordion-body">
            {% assign pub_type = "rpaper"%}
            {% include pub_sections %}
          </div>
        </div>
        <div class="accordion-item">
          <h3 class="accordion-header accordion-button collapsed" id="research-headingTwo"
            style="cursor:pointer" data-bs-toggle="collapse" data-bs-target="#research-collapseTwo"
            aria-expanded="false" aria-controls="research-collapseTwo">
            <i class="fas fa-ellipsis-h mr-4 text-primary"></i>
            Dissertation
          </h3>
          <div id="research-collapseTwo" class="accordion-collapse collapse" aria-labelledby="research-headingTwo"
            data-bs-parent="#accordionResearch">
            <div class="accordion-body">
              {% include diss_sections %}
            </div>
          </div>
          <div class="accordion-item">
            <h3 class="accordion-header accordion-button collapsed" id="research-headingThree"
              style="cursor:pointer" data-bs-toggle="collapse" data-bs-target="#research-collapseThree"
              aria-expanded="false" aria-controls="research-collapseThree">
              <i class="fas fa-ellipsis-h mr-4 text-primary"></i>
              Conference Talks and Presentations
            </h3>
            <div id="research-collapseThree" class="accordion-collapse collapse" aria-labelledby="research-headingThree"
              data-bs-parent="#accordionResearch">
              <div class="accordion-body">
                {% assign pub_type = "talk"%}
                {% include pub_sections %}
              </div>
            </div>
            <div class="accordion-item">
              <h3 class="accordion-header accordion-button collapsed" id="research-headingFour"
                style="cursor:pointer" data-bs-toggle="collapse" data-bs-target="#research-collapseFour"
                aria-expanded="false" aria-controls="research-collapseFour">
                <i class="fas fa-ellipsis-h mr-4 text-primary"></i>
                Invited Talks
              </h3>
              <div id="research-collapseFour" class="accordion-collapse collapse" aria-labelledby="research-headingFour"
                data-bs-parent="#accordionResearch">
                <div class="accordion-body">
                  {% assign pub_type = "italk"%}
                  {% include pub_sections %}
                </div>
              </div>
            </div>
          </div>
        </div>
</section>

<section class="resume-section" id="teaching">
  <div class="resume-section-content">
    <h2 class="mb-5">Teaching</h2>
    <div class="accordion accordion-flush" id="accordionResearch">
      <div class="accordion-item">
        <h3 class="accordion-header accordion-button collapsed" id="research-headingOne"
          style="cursor:pointer" data-bs-toggle="collapse" data-bs-target="#research-collapseOne" aria-expanded="false"
          aria-controls="research-collapseOne">
          <i class="fas fa-ellipsis-h mr-4 text-primary"></i>
          Workshops
        </h3>
        <div id="research-collapseOne" class="accordion-collapse collapse" aria-labelledby="research-headingOne"
          data-bs-parent="#accordionResearch">
          <div class="accordion-body">
            {% assign pub_type = "workshop"%}
            {% include pub_sections %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>